/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    background-color: red;
    border-radius: 1rem;
    box-shadow: 0 10px 30px (rgba 0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.screen.active {
    display: block;
    color:wheat;
}

.screen.screen {
    color:blue;
}

/* START SCREEN */

#start-screen h1 {
    color: orange;
    margin-bottom: 10px;
    font-size: 2.5 rem; 
    font-family: sans-serif;
}

#start-screen p {
    margin-bottom: 5px;
}

#question-text {
    color: 333;
    font-size: 1.5 rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    font-family:fantasy;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: 666;
    font-size: 1rem;

    margin-bottom: 10px;
}

.answers-container {
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: green;
    color:333;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align:left;
    transition: all 0.3 ease;
}

.answer-btn:hover {
    background-color: yellow;
    border-color: yellow;
}

.answer-btn.correct {
    background-color: pink;
    border-color:pink;
    color:brown;
}

.answer-btn.incorrect{
    background-color: black;
    border-color:black;
    color:white;
}

.progress-bar {
    height: 10px;
    background-color: crimson;
    border-radius:5px;
    overflow:hidden;
    margin-top:20px;
}

.progress {
    height: 100%;
    background-color: orange;
    width: 0%;
    transition: width 0.3s ease;
}

/* RESULT SCREEN */

#result-screen h1 {
    color: red;
    margin-bottom: 30px;
}

.result-info {
    background-color: grey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p {
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
}

button{
    background-color: greenyellow;
    color: red;
    border: none;
    border-radius: 2px;
    padding: 15px 30px;
    font-size: 1rem;
    font-family:cursive;
    cursor:pointer;
    transition:background-color 0.5s ease;
}

button:hover {
    background-color:darkgreen;
}

/* RESPONSIVE DESIGN */
@media (max-width: 500px){
    /*when 500px and below implement styles below*/
    
}